.post__header {
  margin: 4rem 0;

  text-align: center;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

.post__header a {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.post__image {
  margin-bottom: 2rem;
}

.post article {
  line-height: 1.8;
  overflow: auto;
  background-color: white;
  text-align: justify;
}

.post article h2 {
  font-size: 1.25rem;
}
.post article h2 {
  font-size: 1rem;
}

.post article p:not(:last-child) {
  margin-bottom: 1rem;
}
.post article li + li {
  margin-top: 0.25em;
}

.post article p:not(:last-child),
.post article dl:not(:last-child),
.post article ol:not(:last-child),
.post article ul:not(:last-child),
.post article blockquote:not(:last-child),
.post article pre:not(:last-child),
.post article table:not(:last-child) {
  margin-bottom: 1em;
}

.post article ol,
.post article ul {
  margin-top: 1em;
  padding: 0.5em 1.5em;
  text-align: left;
}

.post article li ul,
.post article li ol {
  margin-top: 0;
}

.post article ul {
  list-style: disc outside;
}
.post article ol {
  list-style-position: outside;
}

.post article ul > li > ul:first-of-type {
  margin-top: 0;
}

.post article pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  line-height: 1.2;
  font-family: "IBM Plex Mono", monospace;
  font-smooth: auto;
}

.post article code {
  background-color: whitesmoke;
  color: #da1039;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

.post article pre code {
  padding: 0;
}

.post article a {
  background-color: #4e91d3;
  color: white;
  padding: 2px 4px;
}

@media only screen and (max-width: 600px) {
  .post {
    margin: 1rem;
  }
}

.post blockquote {
  padding-left: 1rem;
  border-left: 0.25rem solid #4e91d3;
}
