@import "./mixins.scss";

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

body {
  color: #444;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    sans-serif;
}

code {
  background-color: whitesmoke;
  color: #da1039;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

pre code {
  padding: 0;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;

  color: #084887;

  &:hover {
    opacity: 0.9;
  }
}
