@import "../../../style/mixins.scss";

.container {
  @include container;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  position: relative;
  align-items: flex-end;

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
  }
}

.socials {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  column-gap: 1.5rem;

  a {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0.75rem;
    border-radius: 40px;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.twitter {
  background-color: #1da1f2;

  color: white;
  svg {
    path {
      fill: white;
    }
  }
}

.github {
  background-color: #181717;

  color: white;
  svg {
    path {
      fill: white;
    }
  }
}

.instagram {
  background-color: #e4405f;

  color: white;
  svg {
    path {
      fill: white;
    }
  }
}

.linkedin {
  background-color: #0a66c2;

  color: white;
  svg {
    path {
      fill: white;
    }
  }
}

.email {
  background-color: white;
  border: 1px solid #ddd;

  color: #222;
  svg {
    path {
      fill: #222;
    }
  }
}

.heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.footer {
  @include post-list-footer;
}
