$family-sans-serif: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", sans-serif;

@import "../../node_modules/bulma/bulma.sass";

pre {
  white-space: pre-wrap;
}

dt {
  font-weight: bold;
}

dl.is-horizontal {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: $gap / 2;

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
  }
}

.content {
  line-height: 1.8;
  max-width: 60ch;

  p,
  li {
    font-family: "IBM Plex Serif";

    strong {
      font-family: $family-sans-serif;
    }
  }

  p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.article {
  &__container {
    margin: 0 auto;
    max-width: 60ch;
    display: grid;
    row-gap: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 900;
    font-family: "IBM Plex Serif";
  }

  &__body {
    line-height: 1.8;
  }
}
